<div class="container px-4 px-xl-0 mx-auto mt-5" style="max-width: 600px;">
    <h3 class="text-center mb-5">Crear contacto</h3>


    <form [formGroup]="form" (ngSubmit)="createContact()">
        <div class="card mb-5">
            <div class="card-body">
                <label for="name" class="mb-2">* Nombre</label>
                <input type="text" formControlName="fullName"
                    class="form-control form-control-sm w-100 border-secondary bg-transparent text-light mb-3">
                <label for="email" class="mb-2">* Email</label>
                <input type="email" formControlName="email"
                    class="form-control form-control-sm w-100 border-secondary bg-transparent text-light mb-3">
                <label for="phoneNumber" class="mb-2">* Teléfono</label>
                <input type="text" formControlName="phoneNumber"
                    class="form-control form-control-sm w-100 border-secondary bg-transparent text-light mb-3">
                <label for="description" class="mb-2">Descripción</label>
                <textarea formControlName="description" id="description"
                    class="form-control form-control-sm w-100 border-secondary bg-transparent text-light mb-3"
                    rows="5"></textarea>
                <small class="text-light">* Campos obligatorios</small><br>
                <button type="submit" class="btn btn-outline-light mt-3">Guardar</button>
            </div>
        </div>
    </form>



    <!-- Toast Bootstrap -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="successToast" class="toast align-items-center text-white bg-success border-0" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Contacto creado con éxito.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>

        <div id="errorToast" class="toast align-items-center text-white bg-danger border-0" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Error al crear el contacto.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>

        <div id="errorToastData" class="toast align-items-center text-white bg-danger border-0" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                   Faltan datos por completar.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>


</div>